<div class="container">
    <div id="3" class="cards">
        <div class="imgBx container-fluid">
            <div>
                <img class="img-fluid" src="images/cascade-logo.svg">
                <h2>Welcome to CAMSdash!</h2>
            </div>
        </div>
        <div class="overlay"></div>
        <div class="content">
            <h2>Junk</h2>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Rerum molestias dicta eius recusandae.
            </p>
        </div>
    </div>
</div>

@code {

}
