@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    min-height: 100vh;
}

body {
    background-image: url("../images/cascade.jpg");
    background-position:center ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
}

a, .btn-link {
    color: #ff6633;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
    z-index: 1;
}

.main {
    flex: 1;
}


    .main .top-row {
        justify-content: flex-end;
    }

        .main .top-row > a, .main .top-row .btn-link {            
            white-space: nowrap;
            margin-left: 1.5rem;
        }

        .main .top-row a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #174c81 17%, #d8e7ef 70%);
    z-index: 1;
}

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.1);
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
        height: 100%;
        width: auto;
        display: inline-block;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .sidebar .nav-item {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

        .sidebar .nav-item:first-of-type {
            padding-top: 1rem;
        }

        .sidebar .nav-item:last-of-type {
            padding-bottom: 1rem;
        }

        .sidebar .nav-item a {
            color: #d7d7d7;
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
        }

            .sidebar .nav-item a.active {
                background-color: rgba(255,255,255,0.15);
            }

            .sidebar .nav-item a:hover {
                background-color: rgba(255,255,255,0.1);
                color: white;
            }

#brand {
    width: 200px;
    height: 100%;
}

.content {
    padding-top: 1.1rem;
}

/***CLOUDS***/
.banner .clouds {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

    .banner .clouds img {
        position: absolute;
        bottom: 0;
        max-width: 100%;
        animation: animate calc(8s * var(--i)) linear infinite;
    }


.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

@media (max-width: 767.98px) {
    /*collapse*/
    .main {
        /*background-image: none;*/   
    }
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }

    .sidebar {
        background-image: linear-gradient(145deg, rgba(255, 255, 255, 1) 15%, rgba(146, 250, 255, 0.4) 63%, rgba(44, 131, 241, 0.9) 90%);
        display: inline-block;
        z-index: 1;
    }

    .navbar-brand {
        margin-right: 40%;
    }

    .navbar-toggler {
        background-color: rgba(155, 155, 155, 0.3);
        position: fixed; 
        right: 20px;
    }

    .sidebar .nav {
        background-color: rgba(155,155,155,0.1);
    }

    .sidebar .nav-item a {
        color: #2f4862;
    }

        .sidebar .nav-item a:hover {
            background-color: rgba(255,255,255,0.25);
            color: #15416e;
        }

        .sidebar .nav-item a.active {
            background-color: rgba(255,255,255,0.35);
        }
}

@media (min-width: 768px) {
    /*normal*/
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

.spinner {
    border: 16px solid silver;
    border-top: 16px solid #337AB7;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 700ms linear infinite;
    top: 40%;
    left: 55%;
    position: absolute;
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.container {
    margin: 70px auto;
    overflow: hidden;
    width: 90%;
    text-align: center;
}

/* **ICY** */
div .card {
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
    /* opacity: 0.95; */
}

    div .card:before {
        content: "";
        position: absolute;
        background: inherit;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
        filter: blur(10px);
        margin: -20px;
    }

.card {
    padding: 0;
    margin-top: 0;
    width: 100%;
}

div .card-body {
    background-color: rgba(255, 255, 255, .45);
}
/* **END ICY** */


@keyframes animate {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

/* Main Card*/
/*.container .cards {
    position: relative;
    width: 300px;
    height: 400px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .container .cards .imgBx {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }*/

/*
        .container .cards .container-fluid .imgBx img {
            height: 100%;
            width: 100%;
        }

        .container .cards .imgBx h2 {
            margin: 10px 0 0;
            padding: 0;
            color: #fff;
            font-weight: 700;
            letter-spacing: 2px;
        }*/

   /* .container .cards .overlay {
        position: absolute;
        bottom: 20px;
        right: 20px;
        width: 50px;
        height: 50px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        border-radius: 50%;
        transition: 0.5s;
    }

        .container .cards .overlay:hover {
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            box-shadow: none;
            opacity: 0.9;
            border-radius: 0;
        }

        .container .cards .overlay:before {
            content: 'Read';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            color: #fff;
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 500;
            letter-spacing: 1px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition-delay: 0.5s;
        }

        .container .cards .overlay:hover::before {
            display: none;
            transition-delay: 0s;
        }*/





   /* .container .cards:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background: rgba(255, 255, 255, .1);
        z-index: 20;
        pointer-events: none;
    }

    .container .cards:nth-child(1),
    .container .cards:nth-child(1) .overlay {
        background: linear-gradient(45deg, #e91e63, #ffeb3b);
    }

    .container .cards .content {
        padding: 20px;
        box-sizing: border-box;
        z-index: 1;
        pointer-events: none;
        opacity: 0;
        visibility: hidden;
        transition: 0s;
        color: #fff;
    }

    .container .cards .overlay:hover ~ .content {
        opacity: 1;
        visibility: visible;
        transition: 0.2s;
        transition-delay: 0.3s;
    }

    .container .cards .content h2 {
        margin: 0;
        padding: 0;
    }*/
/*END MainCard*/



.loader {
    position: relative;
    display: flex;
}

    .loader span {
        width: 50px;
        height: 300px;
        margin: 0 20px;
        background: #2196f3;
        animation: animate 1.4s linear infinite;
    }

        .loader span:nth-child(1) {
            animation-delay: 0s;
        }

        .loader span:nth-child(2) {
            animation-delay: 0.2s;
        }

        .loader span:nth-child(3) {
            animation-delay: 0.4s;
        }

        .loader span:nth-child(4) {
            animation-delay: 0.6s;
        }

        .loader span:nth-child(5) {
            animation-delay: 0.8s;
        }

        .loader span:nth-child(6) {
            animation-delay: 1.0s;
        }

        .loader span:nth-child(7) {
            animation-delay: 1.2s;
        }

@keyframes animate {
    0% {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
        opacity: 0;
        transform: translateX(-50px) scale(1);
    }

    50% {
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
        opacity: 1;
        transform: translateX(0px) scale(1.2);
    }

    100% {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
        opacity: 0;
        transform: translateX(50px) scale(1);
    }
}