@page "/timecards"
@inherits TimecardsBase

<h1>Timecards Dashboard</h1>

<div class="container card-deck">
    @if (TimecardCharts == null)
    {
        <div class="spinner"></div>
    }
    else
    {
        @foreach (var chart in TimecardCharts)
        {
            <div class="card container">
                <div class="card-header">@chart.ChartId</div>
                <Chart ChartId="@chart.ChartId" @key=@chart.ChartId ChartOptions="@chart.ChartOptions"></Chart>
            </div>
        }
    }
</div>
